.footer-brand {
  font-size: xx-large;
}
.footer-headers {
  color: #4858e8;
}
.footer-content{
    text-decoration: none;
    color: white;
}
.footer-content:hover{
    text-decoration: underline;
}
.footer-btn {
  color: #4858e8;
  border-color: #4858e8;
  border-radius: 0;
}
.footer-btn:hover {
  background-color: white;
  color: black;
}
